HyperPyYAML==1.2.3
inflect==7.3.1
modelscope==1.20.0
numpy==1.23.5
omegaconf==2.3.0
onnxruntime==1.18.0
more-itertools==10.5.0
numba==0.60.0
pyarrow==18.1.0
pyworld==0.3.4
tiktoken==0.7.0
torchaudio==2.5.1
tqdm==4.67.1
transformers==4.51.3
wetext==0.0.4
x-transformers==2.11.24
